{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<style>
</style>
{% endblock head %}

{% block content %}

<h1>{{ article.title }}</h1><br>
<h4>{{ article.describe }}</h4><br>
{{ article.content }}<br><br>
<p>{{ article.author.username }}</p>
{{ article.created_at }}<br>
<i style="color:#ddd">{{ article.views_count }} views</i><br>

<div class="comments">
    <form method="post" class="comment_form">
        {% csrf_token %}
        {% for field in form %}
            {{field}}
        {% endfor %}
        <button type="submit" class="comment_button">Опублікувати</button>
    </form>

    {% for comment in comments %}
        <div class="comment">
            <div class="header">
                <b>{{ comment.author.username }}</b>
                {{ comment.created_at }}
            </div>
            {{comment.content}}
        </div>
    {% endfor %}
</div>

<script>
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
      }
</script>

{% endblock content %}