{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block content %}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form  method="post">
    {% csrf_token %}
    <h3>Login Here</h3>

    <div>{{ form.non_field_errors }}</div>

    {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{f.label}}: </label> {{ f }}</p>
        <div>{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Log In</button>
    {% comment %} <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div> {% endcomment %}
</form>

{% endblock %}
