.article{
    background-color: rgb(13,110,253); 
    color: #fff;
    margin: 25px;
    border-radius: 0.375rem;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
    border: 3px solid rgba(255, 255, 255, 0.107);

    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article a{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.pagination {
    display: flex;
    justify-content: center;
}
  
.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}

.pagination a.active {
background-color: #4CAF50;
color: white;
border-radius: 5px;
}

.pagination a:hover:not(.active) {
background-color: #ddd;
border-radius: 5px;
}