.comments{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

}

.comment .header{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: 10px;
}